/** Header Section **/
body {
    background-color: #F1F1EF;
}

#career-header {
    background-color: #F1F1EF;
}

.career-header-image > img {
    width: 100vw;
    height: auto;
}

.career-text-box {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
}

.career-text-box > h1 {
    font-size: 250%;
}

.career-profile {
    position: absolute;
    top: 25%;
    left: 70vw;
    margin-right: 25px;
}

.career-profile > img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid white;
}


/********** TAB VIEW *******************/
@media only screen and (max-width: 850px) {

}


/********** MOBILE VIEW ****************/
@media only screen and (max-width: 600px) {

    .career-profile {
        top: 35%;
    }
}

/** Career Introduction **/
#career-intro {
    background-color: #F1F1EF;
    height: 400px;
    display: flex;
    flex-direction: row;
}

.resume {
    width: 50vw;
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.resume img {
    height: 200px;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background-color: black;
    border: 1px solid black;
    color: white;
}

button:hover {
    background-color: #292929;
    font-weight: bolder;
}

.introduction {
    width: 50vw;
    margin-top: 25px;
    margin-right: 50px;
    text-align: justify;
    line-height: 1.6;
}

/* Technical Skills */
#technical {
    background-color: #FDF0E6;
}

.technical {
    display: flex;
    flex-direction: row;
}

.technical-skills {
    width: 50vw;
    padding: 25px;
    text-align: justify;
    line-height: 2.0;
}

.technologies {
    width: 50vw;
    padding: 25px;

}

.technical-skills ul {
    list-style: none;
    align-items: center;
}

.technical-skills ul li:before {
    content: url("../assets/icons/icons8-tick.svg");
}

.technologies ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 5px;
    justify-content: center;
}

.technologies .tech-icon {
    width: 60px;
    height: 60px;
}

.technologies .tech-icon-long {
    width: 120px;
    height: 60px;
}

/********** TAB VIEW *******************/
@media only screen and (max-width: 850px) {

    .technologies .tech-icon {
        width: 50px;
        height: 50px;
    }

    .technologies .tech-icon-long {
        width: 100px;
        height: 50px;
    }
    
}


/********** MOBILE VIEW ****************/
@media only screen and (max-width: 600px) {
    .technical {
        display: flex;
        flex-direction: column;
    }

    .technologies {
        width: 100vw;
        padding: 25px;
    }

    .technologies ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        padding: 5px;
    }

    .technologies .tech-icon {
        width: 50px;
        height: 50px;
    }

    .technologies .tech-icon-long {
        width: 100px;
        height: 50px;
    }

}